<html>
    <body>
        <h1><%=Breeding.name%></h1>
        <p> ID: <%= Breeding.id %></p>
        <p> Fecha: <%= Breeding.date_entry %> </p>
        <p> Peso:  <%= Breeding.weight %> </p>
        <p> Color: <%= Breeding.color %>  </p>
        <p> Nombre: <%= Breeding.name %>  </p>
        <p> Precio: <%= Breeding.price %> $  </p>
        <p> Descripción: <%= Breeding.description %> </p>
        <p> Marmoleo: <%= Breeding.marmoleo %> </p>
        <p> Supplier ID: <%= Breeding.supplier_id %> </p>
    </body>
</html>