<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% for( let i = 0; i < calves.length; i++ ) { %>
      <li>
        <a href="/calves/<%=calves[i].id%>"><%= calves[i].name %></a>
        <% if(calves[i].Sensor) { %>
        <p><%=calves[i].Sensor.temperature%></p>
        <% } %>
      <!-- <p> ID: <%= calves[i].id %></p>
      <p> Fecha: <%= calves[i].date_entry %> </p>
      <p> Peso:  <%= calves[i].weight %> </p>
      <p> Color: <%= calves[i].color %>  </p>
      <p> Nombre: <%= calves[i].name %>  </p>
      <p> Precio: <%= calves[i].price %> $  </p>
      <p> Descripción: <%= calves[i].description %> </p>
      <p> Supplier ID: <%= calves[i].supplier_id %> </p> -->
      
      </li>
    <% } %>
  </body>
</html>
