<html>
    <body>
        <%- include("partials/header.ejs")%>
        <h1>Dieta con ID: <%=diet.id%></h1>
        <p> Desayuno: <%= diet.breakfast %> </p>
        <p> Comida:  <%= diet.eat %> </p>
        <p> Cenar: <%= diet.dinner %>  </p>
        <p> Creada en: <%= diet.created_at %> </p>
    </body>
</html>