<html>
    <body>
        <%- include("partials/header.ejs")%>
        <h1> ID cuarentena: <%= quarantine.id %> </h1>
        <p> Fecha inicio: <%= quarantine.start_date %>   </p>
        <p> Fecha fin: <%= quarantine.end_date %> </p>
        <p> Estado (0 = concluido, 1 = activo):   <%= quarantine.status %> </p>
        <p> ID de la Cría en cuarentena: <%= quarantine.calves_id %>  </p>
        <p> ID de la dieta usada <%= quarantine.diets_id %>  </p>
        
    </body>
</html>