<html>
    <body>
       
        <h1> ID lectura: <%= sensor.id %> </h1>
        <p> ID cría: <%= sensor.calves_id %>   </p>
        <p> Temperatura: <%= sensor.temperature %> </p>
        <p> Frecuencia respiratoria:  <%= sensor.respiratory_frequency %> </p>
        <p> Frecuencia sanguinea: <%= sensor.blood_frequency %>  </p>
        <p> Frecuencia cardiaca: <%= sensor.heart_rate %>  </p>
        
    </body>
</html>